//* START VARIABLES */

/* primary colors */
$cyan: hsl(179, 62%, 43%);
$byellow: hsl(71, 73%, 54%);

/* neutral colors */
$lgray: hsl(204, 43%, 93%);
$gblue: hsl(218, 22%, 67%);

/* fonts*/
$fs: 16px;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* ^ = Karla */

*{
    box-sizing: border-box;
    font-family: 'Karla';
}

body{
    background-color: $lgray; 
}

h3, h1{
    color: #ffff;
}

h3{
    margin: 30px;
    font-size: 17px;
    position: absolute;
    top: -10px;
}

h2{
    margin-left: 30px;
    color: $byellow;
    font-size: 18px;
    position: absolute;
    top: 60px;
}

#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 400px;
    background-color: #ffff;
    border-radius: 10px;

    #princ1{
        width: 275px;
        height: 200px;
        background-color: #2bb3b1;
        position: absolute;
        bottom: 0px;
        border-radius: 0px 0px 0px 10px;

        #price{
            margin-left: 30px;
            position: absolute;
            top: 30px;
        }

        #pricem{
            position: absolute;
            top: 45px;
            right: 100px;
            color: $lgray;
            letter-spacing: -1px;
            font-size: 16px;
        }

        #princ1text{
            margin-left: 30px;
            font-size: 13px;
            color: #ffff;
            position: absolute;
            top: 85px;
        }

        #signup{
            background-color: $byellow;
            border: none;
            width: 200px;
            height: 40px;
            position: absolute;
            left: 30px;
            bottom: 18px;
            border-radius: 4px;
            color: #ffff;
            box-shadow: 2px 5px 10px rgba(87, 73, 73, 0.609);
        }

            #signup:hover{
                cursor: pointer;
            }
    }

    #princ2{
        width: 275px;
        height: 200px;
        background-color: #4abebd;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-radius: 0px 0px 10px 0px;

        #princ2text{
            color: #ffff;
            font-size: 12px;
            position: absolute;
            bottom: 5px;
            left: 27px;
            line-height: 18px;
       }
    }

    #kg{
        #kgtitle{
            color: #33b1ae;
            margin: 30px;
            font-size: 23px;
        }

        #kgtext{
            margin-left: 30px;
            color: #c0c3c6;
            font-size: 15px;
            position: absolute;
            top: 100px;
            line-height: 23px;

        }


    }
}